<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quien Quiere Aprender Conceptos</title>

<!-- --------------------------- bootstrap y css --------------------------- -->

    <link rel = "stylesheet" href="../css/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

<!-- ------------------------------ script js ------------------------------ -->

</head>
<body>
         
    <section>
        <div class="jumbotron">            
        </div>
    </section>

    <section>
        <div class="container">
            <h3 style="font-size: 2.5rem; font-weight: 300; line-height: 1.2;">Quien Quiere Aprender Conceptos</h3>
            <p>Has click en jugar o mira las instrucciones</p>
            <a class="btn btn-primary btn-lg" href="juego.html" role="button">Jugar</a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-info btn-lg" href="instrucciones.html" role="button">Instrucciones</a>
        </div>
    </section>

    <footer>
        <h6>Creado por: Richard Vivas - rvosistemas</h6>
        <h6>Modificar por: Carlos Jose Arevalo Delgado</h6>
    </footer>

</body>
</html>