<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quien Quiere Aprender Conceptos</title>

<!-- --------------------------- bootstrap y css --------------------------- -->

    <link rel = "stylesheet" href="../css/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

<!-- ------------------------------ script js ------------------------------ -->

    <script src="../js/mostrarProductos.js"></script>

</head>
<body>
         
    <section>
        <div class="jumbotron">
            
        </div>
    </section>

    <section>
        <div class="container">
            <h3 style="font-size: 2.5rem; font-weight: 300; line-height: 1.2;">Instrucciones</h1>
            <p style="text-align: justify;">
                <ul>
                    <li>Ingresa en el juego ya sea dando clic en Jugar o en la pestaña Archivo - Nuevo Juego</li>
                    <li>El juego tendra 1 minuto en el cual debera responder la pregunta correctamente</li>
                    <li>El juego adicionalmente tendra 3 ayudas las cuales son 50/50, 30 segundos mas y una pista</li>
                    <li>Si contesta correctamente avanzara a la siguiente pregunta</li>
                    <li>En caso de fallar en la respuesta terminara el juego</li>
                </ul>
            </p>
            <a class="btn btn-primary btn-lg" href="index.html" role="button">Inicio</a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-info btn-lg" href="juego.html" role="button">Jugar</a>
        </div>
    </section>

</body>
</html>